<footer class="text-center">

  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-4"><br>
          Copyright &copy; Babies.MX 2015<br>
          Contacto: <a href="mailto:contacto@babies.mx">contacto@babies.mx</a>
        </div>
        <div class="col-lg-4 social">
          <ul class="list-inline">
            <li><a href="http://www.facebook.com/babiesmx"><i class="fa fa-lg fa-facebook"></i></a></li>
            <li><a href="http://twitter.com/BabiesMX"><i class="fa fa-lg fa-twitter"></i></a>
            </li>


            <li><a href="http://www.pinterest.com/babiesmx/"><i class="fa fa-lg fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4"><br>
          <ul><li><a href="{{ site.baseurl }}/terminos.html">Términos y Condiciones</a></li><li><a href="{{ site.baseurl }}/privacidad.html">Privacidad</a></li></ul>

        </div>
      </div>
    </div>
  </div>
</footer>